<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walkr Github</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1 class="text-center mt-5">Walkr Github</h1>

    <section class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <% if (github.length > 0) { %>
                <% github.forEach(git=> { %>
                    <div class="col-md-4 border-success rounded mt-4 ms-2 me-2 text-white bg-dark">
                        <p>url</p>
                        <span>
                            <%= git.url %>
                        </span>
                        <p>number</p>
                        <span>
                            <%= git.number %>
                        </span>
                        <p>state</p>
                        <span>
                            <%= git.state %>
                        </span>
                        <p>title</p>
                        <span>
                            <%= git.title %>
                        </span>
                        <p>user</p>
                        <span>
                            <%= git.user %>
                        </span>
                        <p>body</p>
                        <span>
                            <%= git.body %>
                        </span>
                        <p>created_at</p>
                        <span>
                            <%= git.created_at %>
                        </span>
                        <p>updated_at</p>
                        <span>
                            <%= git.updated_at %>
                        </span>
                        <p>branch_head</p>
                        <span>
                            <%= git.branch_head %>
                        </span>
                        <p>branch_base</p>
                        <span>
                            <%= git.branch_base %>
                        </span>
                        <p>commits</p>
                        <span>
                            <%= git.commits %>
                        </span>
                        <p>name</p>
                        <span>
                            <%= git.name %>
                        </span>
                        <p>user_repo</p>
                        <span>
                            <%= git.user_repo %>
                        </span>
                        <p>language</p>
                        <span>
                            <%= git.language %>
                        </span>
                        <p>default_branch</p>
                        <span>
                            <%= git.default_branch %>
                        </span>
                        <p>organization</p>
                        <span>
                            <%= git.organization %>
                        </span>
                    </div>
                <% }) %>
            <% } %>
        </div>

    </section>
</body>

</html>